body {
    font-family: Arial;
    padding: 15px;
    background: #f4f4f4;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
button {
    padding: 12px;
    font-size: 16px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

select {
    background-color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

#mensaje {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.mensaje-exito {
    background: #d4edda;
    color: #155724;
}

.mensaje-error {
    background: #f8d7da;
    color: #721c24;
}

/* 🟢 Guardar */
.btn-guardar {
    background: #28a745;
}

/* 🟠 Editar */
.btn-editar {
    background: #fd7e14;
}

/* 🔴 Eliminar */
.btn-eliminar {
    background: #dc3545;
}

/* 🔥 Hover (efecto bonito) */
.btn-guardar:hover {
    background: #218838;
}

.btn-editar:hover {
    background: #e8590c;
}

.btn-eliminar:hover {
    background: #c82333;
}

button {
    margin-top: 5px;
}